Node Red Project UI json file.json
[{"id":"a7a19148.1f32d","type":"tab","label":"Sentimental Analysis on tweets","disabled":false,"info":""},{"id":"b426cd7e.a99e6","type":"ui_template","z":"a7a19148.1f32d","group":"62fe4924.bb2118","name":"","order":0,"width":"6","height":"8","format":"<html>\n    <style>\n        body{\n            background-image:url('https://blog.datumbox.com/wp-content/uploads/2013/09/twitter2-720x540.jpg');\n            background-repeat:no-repeat;\n            background-position: left center;\n        }\n    </style>\n    <body>\n        <img ng-src={{msg.url}} alt=\"Image\">\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":940,"y":300,"wires":[[]]},{"id":"bfb99ac5.12faa8","type":"ui_form","z":"a7a19148.1f32d","name":"","label":"","group":"62fe4924.bb2118","order":1,"width":0,"height":0,"options":[{"label":"Enter the tweet","value":"tweet","type":"text","required":true,"rows":null}],"formValue":{"tweet":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":160,"wires":[["8e568f0c.05641"]]},{"id":"8e568f0c.05641","type":"function","z":"a7a19148.1f32d","name":"input tweets in text form","func":"msg.payload = msg.payload.tweet\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":160,"wires":[["ae22e37a.c24e2"]]},{"id":"9d4c5d59.a9542","type":"debug","z":"a7a19148.1f32d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":100,"wires":[]},{"id":"ae22e37a.c24e2","type":"watson-tone-analyzer-v3","z":"a7a19148.1f32d","name":"","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"https://api.us-south.tone-analyzer.watson.cloud.ibm.com/instances/af80e8e7-e04a-4420-ae6b-a035b62dae5d","x":340,"y":220,"wires":[["46ce3ceb.fa6864"]]},{"id":"46ce3ceb.fa6864","type":"function","z":"a7a19148.1f32d","name":"output response","func":"msg.payload = msg.response;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":160,"wires":[["eccef208.57e5"]]},{"id":"eccef208.57e5","type":"function","z":"a7a19148.1f32d","name":"output images","func":"msg.payload=msg.payload.document_tone.tones[0].tone_name\nif(msg.payload=='Joy'){\n    msg.url=\"https://cdn.pixabay.com/photo/2019/02/19/19/45/thumbs-up-4007573__340.png\"\n}\nelse if(msg.payload=='Anger'){\n    msg.url=\"https://cdn.imgbin.com/18/17/15/imgbin-smiley-emoticon-anger-angry-emoji-pic-yellow-angry-emoji-illustration-Vv2G3tyL03AEaDUiJb8feYqLz.jpg\"\n}\nelse if(msg.payload=='Disgust'){\n    msg.url=\"https://img.favpng.com/25/4/13/smiley-emoticon-clip-art-png-favpng-2WxWxsM81bUSUiJyzUAGD2ANq.jpg\"\n}\nelse if(msg.payload=='Fear'){\n    msg.url=\"https://i.pinimg.com/originals/11/98/fd/1198fd1fc213b2df07b871d2d418a883.jpg\"\n}\nelse if(msg.payload=='Sadness'){\n    msg.url=\"https://i.pinimg.com/originals/09/fc/3b/09fc3ba997d72105b72c1463e2e2ae20.png\"\n}\nelse{\n    msg.url=\"https://lionbridge.ai/wp-content/uploads/2018/10/ai-terms_sentiment-analysis.jpg\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":220,"wires":[["9d4c5d59.a9542","b426cd7e.a99e6"]]},{"id":"62fe4924.bb2118","type":"ui_group","z":"","name":"Inputs","tab":"69f66359.e9bcac","order":1,"disp":true,"width":"6","collapse":false},{"id":"69f66359.e9bcac","type":"ui_tab","z":"","name":"Twitter Sentiment Analysis","icon":"dashboard","disabled":false,"hidden":false}]